[submodule "frontend"]
	path = frontend
	url = https://github.com/JaeyeonBang/persona-cv-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/JaeyeonBang/persona-cv-backend.git
